<?xml version="1.0" ?>
<model>
  <name>TurtleBot</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Open Robotics</name>
    <email>info@openrobotics.org</email>
  </author>
  <description>
    TurtleBot is a personal robot kit with open-source software.
  </description>
</model>

